@font-face {
  font-family: Ebit;
  src: url("/Furore.otf") format("opentype"); }

body {
  margin: 0 36px 0 36px;
  padding: 0 0 0 0;
  font-size: 12px;
  font-family: sans-serif;
  background: #c3d825;
  width: 850px; }

h3 {
  font-size: 14px;
  padding: 6px 6px 6px 6px;
  margin: 0 0 0 0;
  font-family: Ebit; }

form {
  display: inline; }

input {
  height: 24px;
  font-size: 16px;
  margin-right: 3px;
  padding: 0; }

input[type=submit] {
  height: 30px; }

input[type=text] {
  width: 650px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold; }

a {
  text-decoration: none; }

img {
  border: none; }

ul {
  list-style-type: none; }

ul li {
  border-bottom: 1px solid #f0f3f0;
  margin: 12px 0 12px 0;
  padding: 0 12px 12px 0; }

p {
  padding: 6px 6px 6px 12px;
  margin: 0 0 0 0; }

#head {
  height: 50px;
  margin: 0 0 0 0;
  padding: 0 0 10px 0; }
  #head img {
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 6px 0 0;
    padding: 0 0 0 0; }
  #head a, #head h1 {
    margin: 0 0 0 0;
    padding: 6px 0 0 0; }
  #head h1 {
    font-family: Ebit, sans-serif;
    font-size: 30px;
    line-height: 9px; }
  #head .description {
    padding: 2px 0 0 0;
    clear: both; }

ul#menu {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 825px;
  height: 32px;
  margin: 0;
  margin-right: 20px;
  background: white; }
  ul#menu li {
    font-family: Ebit, sans-serif;
    font-size: 16px;
    float: left;
    padding: 7px 0 0 0;
    margin: 0 40px 0 20px;
    border: none; }

#notices {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  font-family: sans-serif;
  clear: both; }

#foot {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 825px;
  background: white;
  text-align: right;
  clear: both;
  font-family: Ebit, sans-serif;
  font-size: 16px;
  margin: 0 0 12px 0;
  padding: 0 20px 0 0;
  height: 32px;
  width: 100%; }
  #foot ul#foot_menu {
    padding: 7px 0 0 20px;
    float: left;
    margin: 0; }
    #foot ul#foot_menu li {
      font-family: Ebit, sans-serif;
      font-size: 16px;
      float: left;
      padding: 0;
      margin: 0 40px 0 0;
      border: none; }
  #foot #credit {
    padding: 7px 0 0 0;
    text-align: right; }

#content {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%; }
  #content a {
    color: green; }
  #content #first_content {
    margin: 12px 0 12px 0;
    padding: 0;
    width: 410px;
    float: left; }
  #content #second_content {
    margin: 12px 0 12px 12px;
    padding: 0;
    width: 428px;
    float: left; }

#profile {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding: 0 6px 6px 6px; }

#sites {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding-left: 6px; }
  #sites .site {
    margin: 12px 0 12px 12px; }
    #sites .site ul.entries {
      margin: 6px 6px 6px 20px;
      padding: 0;
      font-size: 10px; }
      #sites .site ul.entries li {
        border: none;
        margin: 0 0 2px 0;
        padding: 0; }

#associates {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding: 0 6px 6px 18px; }
  #associates ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #associates li {
    padding: 3px 0 3px 0;
    height: 36px;
    margin: 0;
    width: 180px;
    float: left; }
  #associates li img {
    height: 24px;
    width: 24px;
    margin: 2px 6px 2px 0;
    float: left; }

#history_gruff {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding: 0 0 12px 12px;
  width: 430px;
  list-style-type: none; }
  #history_gruff canvas#histories {
    margin: 0;
    padding: 0; }

#categories {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding: 0 6px 6px 18px;
  width: 422px; }
  #categories span {
    margin-left: 6px; }

#recent_entries {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  margin: 0 0 12px 0;
  padding: 0 6px 6px 18px;
  width: 422px;
  list-style-type: none; }

#entries {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  width: 850px;
  margin: 12px 0 12px 0;
  padding: 0 0 0 15px; }
  #entries li {
    clear: both;
    height: 60px;
    padding-bottom: 6px; }
  #entries img {
    float: left;
    margin-right: 6px; }

#users {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: white;
  width: 850px;
  margin: 0;
  padding: 0 0 0 15px; }
  #users li {
    clear: both;
    height: 60px;
    padding-bottom: 6px; }
  #users img.icon {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 6px; }

.pagination {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-family: Ebit;
  background: white;
  margin: 6px -20px 6px auto;
  padding: 4px 12px 4px 12px;
  font-size: 16px;
  float: right; }
  .pagination .page {
    margin-left: 4px; }

#about {
  border-radius: 20px;
  border: 3px #e0ebaf solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 825px;
  background: white;
  font-family: sans-serif;
  width: 850px;
  margin: 12px 0 12px 0;
  padding: 0 0 12px 12px; }

.info {
  font-size: 10px; }

.massive {
  font-size: 18px;
  padding-left: 12px; }

.volatile {
  color: green; }

.error {
  color: red; }

.clear {
  clear: both; }

.description {
  font-family: sans-serif;
  font-size: 10px; }

.size_as_0 {
  font-size: 14px; }

.size_as_1 {
  font-size: 14px; }

.size_as_2 {
  font-size: 15px; }

.size_as_3 {
  font-size: 15px; }

.size_as_4 {
  font-size: 16px; }

.size_as_5 {
  font-size: 16px; }

.size_as_6 {
  font-size: 17px; }

.size_as_7 {
  font-size: 17px; }

.size_as_8 {
  font-size: 18px; }

.size_as_9 {
  font-size: 18px; }

.size_as_10 {
  font-size: 19px; }

.size_as_11 {
  font-size: 19px; }

.size_as_12 {
  font-size: 20px; }

.size_as_13 {
  font-size: 20px; }

.size_as_14 {
  font-size: 21px; }

.size_as_15 {
  font-size: 21px; }

.size_as_16 {
  font-size: 22px; }

.size_as_17 {
  font-size: 22px; }

.size_as_18 {
  font-size: 23px; }

.size_as_19 {
  font-size: 23px; }

.size_as_20 {
  font-size: 24px; }

.size_as_21 {
  font-size: 24px; }

.size_as_22 {
  font-size: 25px; }

.size_as_23 {
  font-size: 25px; }

.size_as_24 {
  font-size: 26px; }

.color_as_0 {
  color: black; }

.color_as_1 {
  color: #000a00; }

.color_as_2 {
  color: #001400; }

.color_as_3 {
  color: #001e00; }

.color_as_4 {
  color: #002800; }

.color_as_5 {
  color: #003200; }

.color_as_6 {
  color: #003c00; }

.color_as_7 {
  color: #004600; }

.color_as_8 {
  color: #005000; }

.color_as_9 {
  color: #005a00; }

.color_as_10 {
  color: #006400; }

.color_as_11 {
  color: #006e00; }

.color_as_12 {
  color: #007800; }

.color_as_13 {
  color: #008200; }

.color_as_14 {
  color: #008c00; }

.color_as_15 {
  color: #009600; }

.color_as_16 {
  color: #00a000; }

.color_as_17 {
  color: #00aa00; }

.color_as_18 {
  color: #00b400; }

.color_as_19 {
  color: #00be00; }

.color_as_20 {
  color: #00c800; }

.color_as_21 {
  color: #00d200; }

.color_as_22 {
  color: #00dc00; }

.color_as_23 {
  color: #00e600; }

.color_as_24 {
  color: #00f000; }
