.kdmr.document-wide
  %h3 最近のアップデート
  %p bugfixや拡張など
  %ul
    - @entries.each do |entry|
      %li{:id=>entry.date.strftime('%Y%m%d%H%M')}
        = raw entry.date.strftime("[%Y/%m/%d %H:%M] ")
        = entry.title.strip

