#foot
  %ul#foot_menu
    %li= link_to 'WHATIS', '/'
    %li= link_to 'UPDATES', '/updates'
    %li= link_to 'USERS', users_path

  #credit
    = link_to 'RSSS', '/'
    ( 
    %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} GITHUB
    )

