#foot
  .kdmr.note-wide
    %div{:style=>"float: left;"}
      %span.menu
        = link_to 'WHATIS', '/'
      %span.menu
        = link_to 'UPDATES', '/updates'
    %div{:style=>"text-align: right; width: 100%;"}
      = link_to 'RSSS', '/'
      BY 
      = link_to 'HIBARIYA', 'http://twitter.com/hibariya'
      ( 
      %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} GITHUB
      )

