#foot
  .kdmr.note-wide{:style=>"text-align: right;"}
    = link_to 'RSSS', '/'
    Developed by 
    = link_to 'HIBARIYA', 'http://twitter.com/pussy_cat'
    ( in 
    %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} Github )

