#foot
  .kdmr.note-wide{:style=>"text-align: right;"}
    = link_to 'RSSS', '/'
    DEVELOPED BY 
    = link_to 'HIBARIYA', 'http://twitter.com/hibariya'
    ( IN 
    %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} GITHUB )

