#foot
  .kdmr.note-wide{:style=>"text-align: right;"}
    = link_to 'RSSS', '/'
    BY 
    = link_to 'HIBARIYA', 'http://twitter.com/hibariya'
    ( 
    %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} GITHUB
    )

